<a href="https://colab.research.google.com/github/nanangyudi/2020pds_b/blob/main/Erwin_Wijayanto_Tugas_Akhir.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Identitas
Erwin Wijayanto
185150400111011
PDS-B

# 1. Deskripsi Tujuan Bisnis
Tujuan dari bisnis dari pengolahan data set ini adalah untuk mengklasifikan apakah seseorang dapat membayar kredit pinjaman dilihat dari data pembayaran yang dilakukan pada bulan - bulan sebelumnya

# 2. Analisa Pendekatan Yang akan dilakukan
Analisa yang akan digunakan dalam pengolahan data ini adalah dengan menggunakan Support Veco. Data Set diperoleh dari archives.ics.uci.edu. Data set nya langsung mengarah dari website tersebut kemudian data tersebut diolah, dianalisis dan dibuat model pada google colab. Data tersebut berisikan informasi tentang ID, Jenis Kelamin, Pendidikan, pembayaran pada waktu-waktu tertentu dan lain-lain.

# 3. Pengumpulan Data

In [ ]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00350/default%20of%20credit%20card%20clients.xls

--2020-12-06 08:42:27--  https://archive.ics.uci.edu/ml/machine-learning-databases/00350/default%20of%20credit%20card%20clients.xls
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5539328 (5.3M) [application/x-httpd-php]
Saving to: ‘default of credit card clients.xls’

default of credit c 100%[===================>]   5.28M  21.4MB/s    in 0.2s

2020-12-06 08:42:27 (21.4 MB/s) - ‘default of credit card clients.xls’ saved [5539328/5539328]

Import data pada library pandas

In [ ]:
import pandas as pd
"""
Membuat dataframe pandas dari file xlsx, dengan menggunakan 
nama column pada index ke - 1
"""

df = pd.read_excel("/content/default of credit card clients.xls",header=1)

In [ ]:
df.head()

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default payment next month
0   1      20000    2  ...         0         0                           1
1   2     120000    2  ...         0      2000                           1
2   3      90000    2  ...      1000      5000                           0
3   4      50000    2  ...      1069      1000                           0
4   5      50000    1  ...       689       679                           0

[5 rows x 25 columns]

# 4. Pemahaman Data
Berikut Penjelasan tiap kolom pada data set yang digunakan:

X1: Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit. 

X2: Gender (1 = male; 2 = female).

X3: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others).

X4: Marital status (1 = married; 2 = single; 3 = others).

X5: Age (year).

X6 - X11: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005;

X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005. The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above.

X12 - X17: Amount of bill statement (NT dollar). X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005.

X18 - X23: Amount of previous payment (NT dollar). X18 = amount paid in September, 2005;

X19 = amount paid in August, 2005; . . .;

X23 = amount paid in April, 2005.

Data set ini terdiri dari 23 kolom dan 24.000 baris

5. Persiapan Data

Colomn ID di drop karena tidak diperlukan

In [ ]:
df.drop("ID",axis=1,inplace=True)

In [ ]:
df.describe()

            LIMIT_BAL           SEX  ...       PAY_AMT6  default payment next month
count    30000.000000  30000.000000  ...   30000.000000                30000.000000
mean    167484.322667      1.603733  ...    5215.502567                    0.221200
std     129747.661567      0.489129  ...   17777.465775                    0.415062
min      10000.000000      1.000000  ...       0.000000                    0.000000
25%      50000.000000      1.000000  ...     117.750000                    0.000000
50%     140000.000000      2.000000  ...    1500.000000                    0.000000
75%     240000.000000      2.000000  ...    4000.000000                    0.000000
max    1000000.000000      2.000000  ...  528666.000000                    1.000000

[8 rows x 24 columns]

In [ ]:
df.corr()

                            LIMIT_BAL  ...  default payment next month
LIMIT_BAL                    1.000000  ...                   -0.153520
SEX                          0.024755  ...                   -0.039961
EDUCATION                   -0.219161  ...                    0.028006
MARRIAGE                    -0.108139  ...                   -0.024339
AGE                          0.144713  ...                    0.013890
PAY_0                       -0.271214  ...                    0.324794
PAY_2                       -0.296382  ...                    0.263551
PAY_3                       -0.286123  ...                    0.235253
PAY_4                       -0.267460  ...                    0.216614
PAY_5                       -0.249411  ...                    0.204149
PAY_6                       -0.235195  ...                    0.186866
BILL_AMT1                    0.285430  ...                   -0.019644
BILL_AMT2                    0.278314  ...                   -0.014193
BILL_AMT3                    0.283236  ...                   -0.014076
BILL_AMT4                    0.293988  ...                   -0.010156
BILL_AMT5                    0.295562  ...                   -0.006760
BILL_AMT6                    0.290389  ...                   -0.005372
PAY_AMT1                     0.195236  ...                   -0.072929
PAY_AMT2                     0.178408  ...                   -0.058579
PAY_AMT3                     0.210167  ...                   -0.056250
PAY_AMT4                     0.203242  ...                   -0.056827
PAY_AMT5                     0.217202  ...                   -0.055124
PAY_AMT6                     0.219595  ...                   -0.053183
default payment next month  -0.153520  ...                    1.000000

[24 rows x 24 columns]

In [ ]:
#dp = data pelatihan
#dt = data test
from sklearn.model_selection import train_test_split
data = df[df.columns[:-1]]
label = df[df.columns[-1]]
data_train,data_test,label_train,label_test  = train_test_split(data,label,test_size = 0.2, random_state = 42)

Mengecek data yang kosong

In [ ]:
data_train.isnull().sum()

LIMIT_BAL    0
SEX          0
EDUCATION    0
MARRIAGE     0
AGE          0
PAY_0        0
PAY_2        0
PAY_3        0
PAY_4        0
PAY_5        0
PAY_6        0
BILL_AMT1    0
BILL_AMT2    0
BILL_AMT3    0
BILL_AMT4    0
BILL_AMT5    0
BILL_AMT6    0
PAY_AMT1     0
PAY_AMT2     0
PAY_AMT3     0
PAY_AMT4     0
PAY_AMT5     0
PAY_AMT6     0
dtype: int64

Melakukan pendefinisian Method untuk dilakukan Normalisasi

In [ ]:
from sklearn.preprocessing import StandardScaler

def Normalisasi(data):
  sc = StandardScaler().fit_transform(data)
  return pd.DataFrame(data=sc,columns=data.columns)

In [ ]:
data_train = Normalisasi(data_train)

In [ ]:
data_train

       LIMIT_BAL       SEX  EDUCATION  ...  PAY_AMT4  PAY_AMT5  PAY_AMT6
0      -0.672359  0.808159   0.184306  ... -0.224654 -0.216008 -0.245240
1      -1.057768 -1.237381   0.184306  ... -0.240785 -0.308523 -0.295532
2       0.098459  0.808159   3.971420  ...  0.122676  0.353487 -0.285107
3      -0.826523 -1.237381  -1.078065  ... -0.207358 -0.186877 -0.180973
4      -0.286950  0.808159   0.184306  ...  0.007308  0.011598  0.317359
...          ...       ...        ...  ...       ...       ...       ...
23995  -0.903605 -1.237381   0.184306  ... -0.294942 -0.235919  3.909990
23996   0.252623 -1.237381  -1.078065  ...  0.160641  0.075622 -0.066413
23997  -0.903605 -1.237381  -1.078065  ... -0.299358 -0.308523 -0.295532
23998  -0.749441  0.808159   0.184306  ... -0.225758 -0.308523 -0.226796
23999  -0.055704  0.808159   0.184306  ... -0.198158  0.600620 -0.209612

[24000 rows x 23 columns]

# 6. Pemodelan Data

Menggunakan library Support Vector Classifier

In [ ]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(data_train,label_train)
svc_pred = svc.predict(data_test)

# 7. Evaluasi Model

Menampilkan hasil akurasi dan confusion matrix

In [ ]:
from sklearn.metrics import accuracy_score,average_precision_score,classification_report
# print(accuracy_score(label_test,svc_pred)*100,"%")
print(accuracy_score(label_test,svc_pred))
print(average_precision_score(label_test,svc_pred))
print(classification_report(label_test,svc_pred))

0.7811666666666667
0.21883333333333332
              precision    recall  f1-score   support

           0       0.78      1.00      0.88      4687
           1       0.00      0.00      0.00      1313

    accuracy                           0.78      6000
   macro avg       0.39      0.50      0.44      6000
weighted avg       0.61      0.78      0.69      6000

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Dapat dilihat bahwa pada pemodelan Support Vector Machine mempunyai akurasi sebesar 78 Persen